body{
	width: 100%;
	margin: 0 auto;
}
.users{
	float : right;
	margin-right: 1.5em;
}
.messages {
	width: 400px;
	margin: 1em;
	border : 0px solid black;
	padding: 1em;
}
.message_form,
.change_name_form{
	padding: 1em;
	right: 50px;
}

.userlist {
	width: 100px;
}

div.message_form > form > div,
div.change_name_form > form > div{
	position: absolute;
	margin-left: 50px;
	/*border: 1px solid #efefef;*/
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	width: 375px !important;
	height: 50px !important;
}


